WebApplication1/Connected Services/ServiceReference2Aryan/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NaturalHazards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="minLatitude" type="xs:int" />
        <xs:element minOccurs="0" name="minLongitude" type="xs:int" />
        <xs:element minOccurs="0" name="maxLatitude" type="xs:int" />
        <xs:element minOccurs="0" name="maxLongitude" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NaturalHazardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NaturalHazardsResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindintensity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lattitude" type="xs:int" />
        <xs:element minOccurs="0" name="longitude" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindintensityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWindintensityResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>